<ul class="nav nav-tabs">
  <li role="presentation"{{#if crashreports-active}} class="active"{{/if}}>
    <a href="/crashreports">Crashreports</a>
  </li>
  <li role="presentation"{{#if symfiles-active}} class="active"{{/if}}>
    <a href="/symfiles">Symfiles</a>
  </li>
</ul>
